*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}
/*Container: 

     max-width: 1440px;
     margin: 0 auto;
     padding: 0 8px;

*/
:root {
    --primary-normal: #06121e;
    --primary-dark: #040f1a;
    --primary-light: #0c2135;

    --secondary-normal: #090d11;
    --secondary-dark: #06090c;
    --secondary-light: #1a1f25;

    --black-normal: #232224;
    --black-dark: #161617;
    --black-light: #353436;

    --white-normal: #FFF;
    --white-dark: #edeaef;
    --white-light: #fefbff;

    --red-normal: #d94140;
    --red-dark: #b42b2b;
    --red-light: #d34040;
}

header{
    width: 100%;
}

body{
   font-family: 'Sora', sans-serif;
   width: 100%;
   height: 100vh;
   position: relative;

   
   background-color: var(--primary-normal);
}

button{
    cursor: pointer;
    font-family: 'Sora', sans-serif;
}

svg{
    width: 100%;
}

img{
    width: 100%;
}

a{
    cursor: pointer;
    text-decoration: none;
}

